.pagination {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;

    @media (max-width: 420px) {
        gap: 8px;
    }

    &__item {
        padding: 8px;
        border: 1px solid transparent;
        color: $color-light-grey;
        cursor: pointer;
        &.active {
            border: 1px solid $color-orange;
        }
        
    }
    .previous {
        opacity: 0.5;
    }
}