.toggle {
    cursor: pointer;
    padding: 16px 0;

    &__arrow {
        display: flex;
        align-items: center;
        transition: filter .3s;

        &:hover {
            filter: brightness(0.1);
        }
    }

    &__title {
        font-size: 18px;
        color: $color-text;
        display: inline-block;
        margin-left: 16px;
        font-weight: 600;
    }
    &__icon {
        
        &_down {
            transform: rotate(180deg);
        }
    }
    

    &__children {
        padding: 16px 0;
    }
}